body {
    max-width: 70%;
    margin: auto;
    align-self: center;
    align-content: center;
}
#cartTitle {
    margin-left: 50%;
    margin-right: 50%;
}

table.header {
    width: 100%;
    align-content: center;
    align-self: center;
}

#menu {
    min-height: 150px;
    width: 15%;
    float: left;
    border: 1px solid black;
    margin-left: 10%;
}

#items {
    width: 55%;
    float: left;
    border: 1px solid black;
    align-content: center;
}

#cart {
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid black;
    align-content: center;
}


/* CSS for table items in frontpage */
td.item-img {
    max-width: 20%;
}

td.item-name {
    width: 20%;
    align-content: center;
}

td.item-description {
    width: 30%;
    align-content: center;
}

td.item-price {
    width: 20%;
    align-content: center;
}

td.item-cart {
    width: 10%;
    align-content: center;
}

/* CSS for table items in frontpage */


